<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lntroduce</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        var v;
        var vv;
        window.onload = function () {
            v = new Vue({
                el: '#app',//选择器
                data: {
                    msg: 'zhutong',
                    msg2: '页面加载于 ' + new Date().toLocaleString()
                }
            });
            vv = new Vue({
                el: '.box',
                data: {//数据  属性
                    msg:'welcome vue',
                    msg2:12,
                    msg3:true,
                    arr:['apple','banana','orange','pear'],
                    json:{a:'apple',b:'banana'}
                },
                methods:{
                    show:function () {
                        alert(1);
                    },
                    add:function () {
                        this.arr.push('tomato');
                    }

                }
            });
        }
    </script>

</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <input type="text" v-model="msg">
        <br>
        {{msg}}
    </div>
    <div class="box">
        <input type="text" v-model="msg">
        <br>
        {{msg}}
        <br>
        {{msg2}}
        <br>
        {{msg3}}
        <br>
        {{arr}}
        <br>
        {{arr[0]}}
        <br>
        <ul>
            <li v-for="(value,index) in arr">
                {{value}} {{index}}
            </li>
        </ul>

        <hr>
        <br>
        {{json}}
        <br>
        {{json.a}}
        <br>
        <ul>
            <li v-for="(item,key,index) in json">
                {{key}}:{{item}} {{index}}
            </li>
        </ul>

        <hr>
        <input type="button" @click="show" value="按钮">
        <button v-on:dblclick ="add">添加水果</button>
        <!--click mouseover mousedown dblclick-->
    </div>
</body>
</html>


